body,
h1,
h2,
h3,
p,
ul,
input,
textarea,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

address {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.page {
  font-family: "Inter", sans-serif;
  color: #292929;
}
.page__body:has(.nav:target) {
  overflow: hidden;
}
.page__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.page__nav:target {
  opacity: 1;
  pointer-events: all;
}
.page__section {
  padding-bottom: 120px;
}
.page__section:first-child {
  padding-top: 120px;
}
.page__section-title {
  margin-bottom: 48px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
}
@media screen and (min-width: 744px) {
  .page__section-title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .page__section-title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media screen and (min-width: 744px) {
  .page__section-title {
    margin-bottom: 64px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 744px) {
  .container {
    padding: 0 72px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }
}

.header {
  background-image: url("/bg--header.429ad84f.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("/bg--header@2x.10b0a49b.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .header {
    background-image: url("/bg--header@3x.0fd2fd27.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.header__content {
  padding: 36px 0 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 744px) {
  .header__content {
    padding: 64px 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header__content {
    padding: 64px 0;
  }
}
.header__title {
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
}
@media screen and (min-width: 744px) {
  .header__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 48px;
    line-height: 48px;
  }
}
.header__sound-image {
  margin-bottom: 20px;
  width: 32px;
  height: 38px;
}
@media screen and (min-width: 744px) {
  .header__sound-image {
    margin-bottom: 40px;
    width: 64px;
    height: 76px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__logo {
  width: 127px;
  height: 16px;
}
@media screen and (min-width: 744px) {
  .top__logo {
    width: 190px;
    height: 24px;
  }
}
.top__burger-menu {
  width: 24px;
  height: 24px;
  background-image: url("/Icon-Burger-menu.b4f547a6.png");
  cursor: pointer;
  transition: background-image 250ms;
}
.top__burger-menu:hover {
  background-image: url("/Icon-Burger-menu-hover.24817e5f.png");
}
.top__burger-menu--close {
  background-image: url("/Icon-Close.8f0ebdf5.png");
}
.top__burger-menu--close:hover {
  background-image: url("/Icon-Close.8f0ebdf5.png");
}

.nav {
  padding: 36px 0 32px;
  height: 100vh;
  background-color: #e8eff9;
}
@media screen and (min-width: 744px) {
  .nav {
    padding: 64px 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    padding: 64px 0;
  }
}
.nav__top {
  margin-bottom: 36px;
}
@media screen and (min-width: 744px) {
  .nav__top {
    margin-bottom: 64px;
  }
}
.nav__item {
  margin-bottom: 32px;
}
.nav__item:last-child {
  margin-bottom: 0;
}
.nav__link {
  padding-bottom: 8px;
  width: max-content;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-color 250ms;
}
@media screen and (min-width: 1200px) {
  .nav__link:hover {
    border-color: #292929;
  }
}

/*# sourceMappingURL=/main.07544d9b.css.map */