@import "variables";

@mixin onMobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bgImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin bg-pixelRatio-2 {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/bg--header@2x.webp");

    @include bgImage;
  }
}

@mixin bg-pixelRatio-3 {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/bg--header@3x.webp");

    @include bgImage;
  }
}
@mixin bg-footer-pixelRatio-2 {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/bg--footer@2x.webp");

    @include bgImage;
  }
}

@mixin bg-footer-pixelRatio-3 {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/bg--footer@3x.webp");

    @include bgImage;
  }
}

@mixin headerTop-padding {
  padding: 36px 0 32px;

  @include onTablet {
    padding: 64px 0 40px;
  }

  @include onDesktop {
    padding: 64px 0;
  }
}

@mixin titleTypography {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 48px;
  }
}

@mixin secondaryTypography {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}
