.header {
  background-image: url("../images/bg--header.webp");

  @include bgImage;
  @include bg-pixelRatio-2;
  @include bg-pixelRatio-3;

  &__content {
    @include headerTop-padding;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-style: italic;
    font-weight: 800;
    @include titleTypography;
  }

  &__sound-image {
    margin-bottom: 20px;

    width: 32px;
    height: 38px;

    @include onTablet {
      margin-bottom: 40px;

      width: 64px;
      height: 76px;

      transition: transform 300ms;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
