.header {
  background-image: url("../images/bg--header.webp");

  @include bgImage;
  @include bg-pixelRatio-2;
  @include bg-pixelRatio-3;

  &__content {
    padding: 36px 0 32px;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onTablet {
      padding: 64px 0 40px;
    }

    @include onDesktop {
      padding: 64px 0;
    }
  }

  &__title {
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -1.5px;
    
    @include onTablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__sound-image {
    margin-bottom: 20px;

    width: 32px;
    height: 38px;

    @include onTablet {
      margin-bottom: 40px;

      width: 64px;
      height: 76px;
    }
  }
}
