.how-to-buy {
  &__content {
    @include flexColumn;

    @include onTablet {
      @include flexRow-Between;
    }
  }

  &__title {
    text-align: start;

    @include onTablet {
      margin-bottom: 0px;
    }
  }

  &__subtitles {
    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 498px;
    }
  }

  &__benefits-list {
    margin-bottom: 40px;

    @include flexColumn;
    gap: 16px;

    @include secondaryTypography;
  }

  &__description {
    font-size: 16px;
    line-height: 27px;
  }
}
