.how-to-buy {
  &__content {
    display: flex;
    flex-direction: column;

    

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    text-align: start;

    @include onTablet {
      margin-bottom: 0px;
    }
  }

  &__subtitles {
    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 498px;
    }
  }

  &__benefits-list {
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @include secondaryTypography;
  }

  &__description {
    font-size: 16px;
    line-height: 27px;
  }
}
