.page {
  font-family: $font-main;
  color: $font-main-color;

  &__body {
    &:has(.nav:target) {
      overflow: hidden;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;

    pointer-events: none;

    transition: opacity 500ms;

    &:target {
      opacity: 1;

      pointer-events: all;
    }
  }

  &__section {
    padding-bottom: 120px;

    &:first-child {
      padding-top: 120px;
    }
  }

  &__section-title {
    margin-bottom: 48px;

    text-align: center;
    @include titleTypography;

    @include onTablet {
      margin-bottom: 64px;
    }
  }
}
