.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    background-image: url("../images/logo.png");
    @include bgImage;

    width: 127px;
    height: 16px;

    @include onTablet {
      width: 190px;
      height: 24px;
    }
  }

  &__burger-menu {
    width: 24px;
    height: 24px;

    background-image: url("../images/Icon-Burger-menu.png");

    cursor: pointer;

    transition: background-image 250ms;

    &:hover {
      background-image: url("../images/Icon-Burger-menu-hover.png");
    }

    &--close {
      background-image: url("../images/Icon-Close.png");

      &:hover {
        background-image: url("../images/Icon-Close.png");
      }
    }
  }
}
